@charset "UTF-8";
@import "animation.css";

body{
	background-color: white;
}

@media (max-width : 600px){
	body{
		background-color: black;
	}
}

#carre_rouge{
	height: 50px;
	width: 50px;
	background-color: red;
}

#deck_container{
	background-color: white;
}

#extra_deck_container{
	background-color: white;
}

#detail_container{
	background-color: white;
}

#desc_text{
	margin: 5%;
	text-justify: inter-word; 
}

.img_slot{
	margin: 5px;
	width: 84px;
	height: 123px;
	cursor: pointer;
}

.img_detail{
	margin: 10px;
	width: 168px;
	height: 246px;
}