@keyframes chill{
    0% {transform: translateX(0px)}
    10% {transform: translateX(-1px)}
    20% {transform: translateX(1px)}
    30% {transform: translateX(-1px)}
    40% {transform: translateX(1px)}
    50% {transform: translateX(-1px)}
    60% {transform: translateX(1px)}
    70% {transform: translateX(-1px)}
    80% {transform: translateX(1px)}
    90% {transform: translateX(-1px)}
    100% {transform: translateX(0px)}
}

body{
    display: flex;
    height: 500px;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.animation{
    width: 200px;
    height: 200px;
    background-color: rgb(184, 26, 199);
    opacity: 1;
}
/*
transform: scale(2);
transition: all 1s ease-in-out;
*/
.animation:hover{
    background-color:blue;
    transition: 0.2s linear;
    animation: chill 0.2s;
}