@charset "UTF-8";

#cards_container{
	width: 100%;
	background-color: green;
	display: flex;
	flex-direction: row;
}

#database_container{
	background-color: red;
	width: 50%;
}

#deck_container{
	background-color: blue;
	width: 50%;
}

#table_blody {
	
}

.img_slot{
	margin: 10px;
}